body{
  padding: 0;
  margin: 0;
}

.home { 
    z-index: 1;
    background: linear-gradient(-45deg,#03045E , #00B4D8, #90E0EF, #CAF0F8);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    animation: animate 15s ease infinite;
    
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-size: 3rem;
  color: #B0DAFF;
  font-family: 'Raleway', sans-serif;
}
span{
  color: #FEFF86;
}
h2 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
 
}

/*------About ME----------------*/

.aboutme {
  height: 50vh;
  padding-bottom: 100px;

}
.bluefont {
  padding-top: 75px;
  text-align: center;
  margin-bottom: 100px;
}

.iconfeature {

  display: flex;
  justify-content: space-evenly;

  
}


.captionicon {
  font-size: small;
  font-family: 'Roboto', sans-serif;
  width: 100px;

}
/*----------Another About ME----------*/

.aboutmestill{
  height: 100vh;
  padding-bottom: 70px;

}

.container-about{
  margin-top: 100px;
  display: flex;
}

.portfolio{
  margin-left: 100px;
  
}

.intro  {
  text-align: center;
  padding: 100px ;

  
}

.skills {
margin-right: 50px;

}


/*----ProgressBar----------*/

.w3-light-grey {
  background-color: gray;
}
.w3-blue{
  background-color: #00B4D8;
}
.w3-round{
  border-radius: 4 4;
}

.w3-container{
  width: 350px;
  height: 25px;
}


.project{
  height: 200vh;
  padding: 20px;
  background-color: #19A7CE;
  
}

.myprojectheading{
  padding-top: 50px;
  color: white;
  text-align: center;
}

.projectto {
  height: 300px;
  width: 500px;
}
/*----------Footer---------------*/
footer {
  
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #90E0EF;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color:white;

}
.socialmedia{
  list-style: none;
  color: #146C94;
  display: flex;
  flex-direction: row;
  gap: 10px;


}
