body{
  padding: 0;
  margin: 0;
}

.home { 
    z-index: 1;
    background: linear-gradient(-45deg,#03045E , #00B4D8, #90E0EF, #CAF0F8);
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
    animation: animate 15s ease infinite;
    
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-size: 3rem;
  color: #B0DAFF;
  font-family: 'Raleway', sans-serif;
}
span{
  color: #FEFF86;
}
h2 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}

.bluefont{
  color:#19A7CE;

}

.aboutme{
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.intro{
  width: 40%;
  text-align: center;  
  font-family: 'Raleway', sans-serif;
}


.profilepicture{
  height:300px;
  width:200px;
  border-radius: 50%;
}

  
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #90E0EF;
  font-size: 15px;
  font-family: font-family: 'Roboto', sans-serif;
  color:white;

}
.socialmedia{
  list-style: none;
  color: #146C94;
  display: flex;
  flex-direction: row;
  gap: 10px;


}